<button class="button button-container is-rounded is-primary " type="submit" (click)="addForm()">Add</button>

<div class="container">
<div class="card card-container" *ngFor="let control of arr.controls | slice : 0 : num; let i = index">

    <form class="card-content" [formGroup]="$any(control)" (ngSubmit)="onSubmit()">
      <div class="columns">
        <div class="column">
          <app-input  [control]="$any(control).controls['name']" inputType="text" label="Name"></app-input>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-input [control]="$any(control).controls['lastName']" inputType="text" label="Last Name"></app-input>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-input [control]="$any(inputForm).controls['phoneNumber']" inputType="text"
                     label="Phone Number"></app-input>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-input [control]="$any(inputForm).controls['email']" inputType="email" label="Email"></app-input>
        </div>
      </div>
      <div class="columns">
        <div class="column">,
          <app-input [control]="$any(inputForm).controls['password']" inputType="password" label="Password"></app-input>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <app-input [control]="$any(inputForm).controls['confirmPassword']" inputType="password"
                     label="Confirm Password"></app-input>
        </div>
      </div>

      <button class="button is-rounded is-primary " type="submit">Submit</button>
    </form>

  </div>
</div>


